
      <tr>
        <td align="center" valign="top">
            <!-- BEGIN BODY // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainerMiddle">
              <tr>
                <td valign="top" class="bodyContent" mc:edit="body_content">
                  <h3>Hola: <%= @user.name.to_s %></h3>
                  <h2><strong>Nueva petición de información</strong></h2>


                  <p>Ha recibido una solicitud de un nuevo contacto en referencia a su empresa:</p>
                  <p>

                    Datos de contacto:
                    <br>
                    <br>
                    Nombre: <%= @info.name.to_s %><br>
                    Empresa: <%= @info.company.to_s %><br>
                    País: <%= @info.country.to_s %><br>
                    Teléfono: <%= @info.phone.to_s %><br>
                    Email: <%= @info.email.to_s %><br>
                    Comentario: <%= @info.comment.to_s %><br>

                  </p>
                  <p>
                      Gracias por su confianza.
                      <br>Saludos cordiales,

                  </p>

                </td>
              </tr>
            </table>
            <!-- // END BODY -->
          </td>
      </tr>

