<nav class="breadcrumb">
  <ul>
    <li><a href="<%= root_path %>"><%=t('static.start')%></a></li>
    <li class="current"><%=t('static.legal_notice')%></li>
  </ul>
</nav>


<main id="main" class="contact">
  <div class="container">
    <%= render :partial => 'es_legalnotice' if I18n.locale == :es %>
    <%= render :partial => 'en_legalnotice' if I18n.locale == :en %>
  </div><!-- .container -->
</main>
