

        <nav class="pagination">
          <% unless params[:search].present? %>
          <%= js_will_paginate @items_all %>
          <% end %>
        </nav><!-- .pagination -->

          <% @items_all.each do |catalog| %>

          <div class="products_item">

            <figure class="product_media">
              <% if catalog.published? %>
                <span class="published"><%=t('backend.favorites.catalogs.published')%></span>
              <% end %>

              <a href="<%= catalog_path(catalog) %>"><%= image_tag(catalog.first_page_picture_url) %></a>
              <!-- <span><img src="images/content/product-1.jpg" alt=""></span> -->
            </figure>
            <div class="product_info">
              <% if current_user.role_admin? %>
                <h2 class="product_name"><%= catalog.user.present? ? catalog.user.company_name : 'No company!'%></h2>
                <br>
              <% end %>
              <h2 class="product_name"><a href="<%= catalog_path(catalog) %>"><%= catalog.name %></a></h2>
              <p class="product_description"><%= truncate(catalog.description.to_s, :length => 100, :separator => ' ')  %></p>
            </div>
          </div><!-- .products_item -->

         <% end %>

        <nav class="pagination">
          <% unless params[:search].present? %>
          <%= js_will_paginate @items_all %>
          <% end %>
        </nav><!-- .pagination -->


